{{ partial "head.html" . }}
<title>Page not found</title>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container error has-text-centered">
      <h1 class="has-text-black"><span class="title is-size-1">404</span></h1>
      <h2 class="has-text-black is-size-3">Page is not found</h2>

      <a href="{{ .Site.BaseURL }}">Home</a>
    </div>
</section>
