<!DOCTYPE html>

{{ partial "head" . }}
<title>Home</title>

<section class="hero is-fullheight">
  <div class="hero-head">
    <div class="navigation">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">Home</a>
            <a class="navbar-item" href="{{ "blog" | absURL }}">Blog</a>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="hero-body">
    <div class="container introduction has-text-centered">
      <h2 class="has-text-black is-size-3">Hello, world</h2>
      <h1 class="has-text-black is-size-1"><span class="name">I'm Pavel Rekun</span></h1>
      <h2 class="has-text-black is-size-3">Android Developer</h2>

      <div class="social">
        <span style="font-size: 1.75rem;">
          <a href="https://play.google.com/store/apps/dev?id=6177330881323239420"><i class="fab fa-google-play"></i></a>
        </span>

        <span style="font-size: 1.75rem;">
          <a href="https://github.com/MenosGrante"><i class="fab fa-github"></i></a>
        </span>

        <span style="font-size: 1.75rem;">
          <a href="https://twitter.com/menosgrante"><i class="fab fa-twitter"></i></a>
        </span>

        <span style="font-size: 1.75rem;">
          <a href="https://www.linkedin.com/in/pavel-rekun-82325b133/"><i class="fab fa-linkedin"></i></a>
        </span>

        <span style="font-size: 1.75rem;">
          <a href="https://www.producthunt.com/@menosgrante"><i class="fab fa-product-hunt"></i></a>
        </span>

        <span style="font-size: 1.75rem;">
          <a href="https://www.instagram.com/pavelrekun/"><i class="fab fa-instagram"></i></a>
        </span>

      </div>
    </div>
</section>

<section class="hero">
  <div class="hero-body section about has-text-centered">
    <div class="container">
      <h1 class="has-text-black is-size-4">About</h1>
      <p class="has-text-black">My name is <b>Pavel Rekun</b> and I'am designing and developing Android applications. My focus is creating clean, simple and accurate designed mobile applications helping end users simplify work with their devices. I
        am also interested in games creation and web-development.</p>
      <p class="has-text-black">I currently work as an Android Engineer at <b>EPAM</b> in Vinnitsya, Ukraine.</p>
      <p class="has-text-black">My non-professional interests include video games (on PC, PS4 Slim and Nintendo Switch) and music (EDM and rock).</p>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body section projects">
    <h1 class="has-text-centered is-centered has-text-black is-size-4">Projects</h1>
    <div class="columns is-centered">

      <div class="column has-text-centered is-one-quarter">
        <h2>Castro</h2>

        <img class="screenshot" src="/images/Castro.png" width="257" height="528">
        <h3 class="has-text-black"><br />Castro is utility application for monitoring state of devices with speicialized set of information and diagnostic tools<br /><br />
          <a href="https://play.google.com/store/apps/details?id=com.itemstudio.castro">Google Play (Basic)</a> | <a href="https://play.google.com/store/apps/details?id=com.itemstudio.castro.pro">Google Play (Premium)</a> <br /><br />
          <a href="{{ "/castro/privacy_policy" | absURL }}">Privacy Policy</a> |
          <a href="{{ "/castro/faq" | absURL }}">FAQ</a> <br /><br />
          <a href="{{ "/castro/changelog_release" | absURL }}">Changelog (Release)</a> | <a href="{{ "/castro/changelog_beta" | absURL }}">Changelog (Beta)</a></h3>
      </div>

      <div class="column has-text-centered is-one-quarter">
        <h2>Rekado</h2>

        <img class="screenshot" src="/images/Rekado.png" width="257" height="528">

        <h3 class="has-text-black"><br />Rekado is payloads launchger for console Nintendo Switch with bundled Hekate, SX OS and ReiNX payloads<br /><br /> <a href="https://github.com/MenosGrante/Rekado">GitHub</a></h3>
      </div>

      <div class="column has-text-centered is-one-quarter">
        <h2>Skit</h2>

        <img class="screenshot" src="/images/Skit.png" width="257" height="528">

        <h3 class="has-text-black"><br />Skit is applications manager for controling user and system applications on your device<br /><br />
          <a href="https://play.google.com/store/apps/details?id=com.pavelrekun.skit">Google Play (Basic)</a> | <a href="https://play.google.com/store/apps/details?id=com.pavelrekun.skit.premium">Google Play (Premium)</a> <br /><br />

        <a href="{{ "/skit/privacy_policy" | absURL }}">Privacy Policy</a> |
        <a href="{{ "/skit/faq" | absURL }}">FAQ</a> <br /><br />
        <a href="{{ "/skit/changelog_release" | absURL }}">Changelog (Release)</a> | <a href="{{ "/skit/changelog_beta" | absURL }}">Changelog (Beta)</a>
      </div>
    </div>
  </div>

  {{ partial "footer" . }}
