/* Header */
.navigation a.navbar-item {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
}

.navigation a.navbar-item:hover {
  color: #FFD22D;
}

/* Home: Introduction */
.introduction h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}

.introduction h1 span {
  background-color: #FFD22D;
  padding: 10px;
}

.introduction h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
}

.introduction .social {
  margin-top: 10px;
}

.introduction .social a {
  color: grey;
}

.introduction .social .fa-google-play:hover {
  color: #FFD22D;
}

.introduction .social .fa-product-hunt:hover {
  color: #FFD22D;
}

.introduction .social .fa-github:hover {
  color: #FFD22D;
}

.introduction .social .fa-twitter:hover {
  color: #FFD22D;
}

.introduction .social .fa-linkedin:hover {
  color: #FFD22D;
}

.introduction .social .fa-facebook:hover {
  color: #FFD22D;
}

.introduction .social .fa-instagram:hover {
  color: #FFD22D;
}

/* Home: About */
.section.about h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.section.about {
  background-color: #FFD22D;
}

.section.about p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  padding-bottom: 30px;
  margin-left: 2%;
  margin-right: 5%;
}

/* Home: Projects*/
.section.projects h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.section.projects h2 {
  padding-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.section.projects .column img {
  margin-top: 10%;
}

.section.projects .column h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: center;
}

.section.projects a {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1.5px;
}

.section.projects a:hover {
  color: #FFD22D;
  border-bottom: 2px solid #FFD22D;
  padding-bottom: 1.5px;
}

/* Footer */
.container.ending {
  margin: 40px;
}

.container.ending h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.container.ending .social {
  margin-bottom: 10px;
}

.container.ending a {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1.5px;
}

.container.ending a:hover {
  color: #FFD22D;
  border-bottom: 2px solid #FFD22D;
  padding-bottom: 1.5px;
}

.container.ending .middle-icon {
  margin-right: 10px;
  margin-left: 10px;
}

/* Blog: List */
.container.blog .title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1.5px;
}

.container.blog .title:hover {
  color: #FFD22D;
  border-bottom: 2px solid #FFD22D;
  padding-bottom: 1.5px;
}

.container.blog .parameters {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.blog .summary {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: justify;
}

/* 404 */
.container.error a {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1.5px;
}

.container.error a:hover {
  color: #FFD22D;
  border-bottom: 2px solid #FFD22D;
  padding-bottom: 1.5px;
}

.container.error h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}

.container.error span {
  background-color: #FFD22D;
  padding: 10px;
}

.container.error h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Blog: Post */
.container.post h1.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #FFD22D;
  padding: 10px;
}

.container.post h1.parameters {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.post a {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  border-bottom: 2px solid black;
  padding-bottom: 1.5px;
}

.container.post a:hover {
  color: #FFD22D;
  border-bottom: 2px solid #FFD22D;
  padding-bottom: 1.5px;
}

.container.post p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container.post h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container.post h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.container.post img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 640px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container.post figcaption h4 {
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  align-self: center;
  justify-content: center;
  align-content: center;
}

.container.post ul {
  list-style: disc;
  margin-left: 20px;
  margin-right: 20px;
}

.container.post li {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}
