<div class="navigation">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <span class="navbar-burger burger" data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </span>


    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">Home</a>
        <a class="navbar-item" href="{{ "blog" | absURL }}">Blog</a>
      </div>
    </div>
  </nav>
</div>
