<!DOCTYPE html>

{{ partial "head" . }}
{{ partial "header" . }}

<title>Blog</title>

<section class="hero">
  <div class="hero-body">
    <div class="container introduction has-text-centered">
      <h1 class="has-text-black is-size-1"><span class="name">Posts</span></h1>
    </div>
</section>

{{ range .Pages }}
<section class="section">
  <div class="container blog">
    <a class="title is-size-4" href="{{ .URL }}">{{.Title}}</a>
    <p class="parameters">{{ dateFormat "Monday, Jan 2, 2006" .Date }} · {{ .ReadingTime }} min read · {{ .WordCount }} words</p>
    <p class="summary">{{.Summary}}</p>
  </div>
</section>
{{ end }}

{{ partial "footer" . }}
