{{ partial "head.html" . }}
{{ partial "header" . }}

<title>{{.Title}}</title>

<div class="section">
  <div class="container post">
    <h1 class="title is-size-3 has-text-black">{{.Title}}</h1>
    <h1 class="parameters">{{ dateFormat "Monday, Jan 2, 2006" .Date }} · {{ .ReadingTime }} min read · {{ .WordCount }} words</h1>
    {{if .Params.author}}Author: {{.Params.Author}}{{end}}
    {{.Content}}
  </div>
</div>
{{ partial "footer" . }}
