{{ partial "head.html" . }}
<title>{{.Title}}</title>

<div class="section">
  <div class="container post">
    <h1 class="title is-size-3 has-text-black">{{.Title}}</h1>
    {{.Content}}
  </div>
</div>
